* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #1bb295;
  color: #1bb295;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.column {
  flex-direction: column;
}
.container {
  width: 430px;
  background: #f0eac5;
  border-radius: 10px;
  margin: 25px 25px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.two_column_flex {
  width: 40%;
  cursor: pointer;
}
.one_column_flex {
  width: 100%;
}
.word_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: #1bb295;
  color: #f0eac5;
}
.button {
  font-size: 17px;
  padding: 15px 25px;
  border: none;
  background-color: #1bb295;
  color: #f0eac5;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.disabled {
  display: none;
}
.space_beetwen {
  justify-content: space-between;
}
.flex {
  display: flex;
  gap: 10px;
}
.red_heart {
  font-size: 1.5rem;
  color: #e82727;
}
.font {
  font-weight: 500;
  font-size: 1.2rem;
  color: #f7ca36;
}

.wrong_answer {
  background-color: #e82727;
}

.correct_answer {
  background-color: #1f6116;
}

.stage_count,
.level_count {
  color: #1bb295;
}

.spinner-1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid #1bb295;
  border-top-color: #f0eac5;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.margin-1 {
  margin: 30px 0px;
}
